script{
	display:none;/*Make the script elements invisible in case of this being an older browser*/
}
body{
	font-family:quebec, sans-serif;
}
footer{
	background:rgb(123, 123, 255);
	float:left;
	padding:5px;
}
a:hover{
color:darkcyan;
}
.languageImage{
	float:left;
	background:rgb(123, 123, 255);
}
#javaScriptLogo{
	background:rgb(123, 123, 0);
	font-family:monospace;
	width:30px;
	height:30px;
	float:left;
	font-size:10pt;
	font-weight:bold;
}
#resources{
	display:none;
}
#logIn{
	width:500px;
}
header hr{
	margin-top:0px;
}
#David{
	border-radius:10;
}
.bordered{
	border:2px solid rgb(61, 61, 61);
	padding:5px;
	margin:5px;
}
.inlineblock{
	display:inline-block;
}
.leftFloat{
	float:left;
}
.green{
	background:green;
}
a:not(.qwvxxe){
	display:none;
}
